option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: catalogo.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: catalogo.settings
    DJANGO_DEBUG: False
    # ✅ AP2: Variáveis do SuperUser e Secret Key injetadas no EB
    SECRET_KEY: "uma-chave-secreta-muito-forte-para-producao-ibmec"
    DJANGO_SUPERUSER_USERNAME: root
    DJANGO_SUPERUSER_EMAIL: root@ibmec.edu.br
    DJANGO_SUPERUSER_PASSWORD: SenhaAdmin123!
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_createsuperuser:
    command: "python manage.py createsuperuser --noinput || true"
    leader_only: true